body {
  font: 16px helvetica, sans-serif;
  text-align: center; }

header {
  display: block;
  max-width: 870px;
  margin: 30px auto;
  text-align: left;
  border-bottom: 3px solid;
  overflow: hidden; }
  header h1 {
    font: bold 36px/1.111 helvetica;
    padding: 5px 0 10px;
    float: left;
    margin: 0; }
  header p {
    font: 20px/1 helvetica;
    float: right;
    padding: 20px 0 10px;
    margin: 0; }

.options {
  display: block;
  max-width: 870px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden; }
  .options.hidden {
    display: none; }
  .options div {
    display: block;
    float: left;
    width: 50%; }
    .options div label {
      display: block;
      float: left;
      width: 100px;
      clear: left; }
    .options div select {
      width: 200px;
      float: left;
      display: block; }

table.matrix {
  width: 100%;
  text-align: left; }
  table.matrix thead th {
    border-bottom: 2px solid; }
  table.matrix tbody tr:nth-child(2n) td {
    background: #eee; }

svg text {
  font-family: sans-serif; }
svg path,
svg line {
  fill: none; }
svg .axis line {
  stroke: #ccc; }
svg .axis .x-tick line,
svg .axis .y-tick line {
  stroke-dasharray: 10,4; }
svg .browser path {
  stroke-width: 2px;
  opacity: 0.5; }
svg .browser.active path, svg .browser:hover path {
  stroke-width: 4px;
  opacity: 1; }
svg .browser text {
  fill: transparent; }
svg .browser.active text, svg .browser:hover text {
  fill: #000; }

.fork {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 300px;
  height: 30px;
  margin: 0;
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 150px 150px;
  -o-transform-origin: 150px 150px;
  -moz-transform-origin: 150px 150px;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  background: #8A0707; }
  .fork a {
    margin: 1px 0;
    border: 1px dashed rgba(255, 255, 255, 0.8);
    color: #fff;
    display: block;
    padding: 4px;
    text-decoration: none; }
    .fork a:hover {
      text-decoration: underline; }

.overlay {
  display: block;
  max-width: 870px;
  margin: 10px auto;
  text-align: left;
  overflow: hidden; }
  .overlay.hidden {
    display: none; }
  .overlay button:hover {
    cursor: pointer; }
