@mixin prefix($property, $value){
  -ms-#{$property}:   $value;
  -o-#{$property}:   $value;
  -moz-#{$property}:   $value;
  -webkit-#{$property}:   $value;
  #{$property}:   $value;
}

body {
  font: 16px helvetica, sans-serif;
  text-align: center;
}
header {
  display: block;
  max-width: 870px;
  margin: 30px auto;
  text-align: left;
  border-bottom: 3px solid;
  overflow: hidden;

  h1 {
    font: bold 36px/1.111 helvetica;
    padding: 5px 0 10px;
    float: left;
    margin: 0;
  }
  p {
    font: 20px/1 helvetica;
    float: right;
    padding: 20px 0 10px;
    margin: 0;
  }
}
.options {
  display: block;
  max-width: 870px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;

  &.hidden {
    display: none;
  }
  div {
    display: block;
    float: left;
    width: 50%;

    label {
      display: block;
      float: left;
      width: 100px;
      clear: left;
    }
    select {
      width: 200px;
      float: left;
      display: block;
    }
  }
}
table.matrix {
  width: 100%;
  text-align: left;

  thead {
    th {
      border-bottom: 2px solid;
    }
  }
  tbody {
    tr:nth-child(2n) td {
      background: #eee;
    }
  }
}
svg {
  text {
    font-family: sans-serif;
  }
  path,
  line {
    fill: none;
  }
  .axis {
    line {
      stroke: #ccc;
    }
    .x-tick line,
    .y-tick line {
      stroke-dasharray: 10,4;
    }
  }
  .browser {
    path {
      stroke-width: 2px;
      opacity: 0.5;
    } 
    &.active path,
    &:hover path {
      stroke-width: 4px;
      opacity: 1;
    }

    text {
      fill: transparent;
    }
    &.active text,
    &:hover text {
      fill: #000;
    }
  }
}
.fork {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 300px;
  height: 30px;
  margin: 0;
  @include prefix(transform, rotate(45deg));
  @include prefix(transform-origin, 150px 150px);
  background: #8A0707;

  a {
    margin: 1px 0;
    border: 1px dashed rgba(255,255,255,0.8);
    color: #fff;
    display: block;
    padding: 4px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.overlay {
  display: block;
  max-width: 870px;
  margin: 10px auto;
  text-align: left;
  overflow: hidden;

  &.hidden {
    display: none;
  }
  button:hover {
    cursor: pointer;
  }
}
